# Entornos y ficheros sensibles
.env
.env.* 
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# IDEs / editores
.vscode/
.idea/

# Base de datos local / migraciones temporales
*.sqlite3
instance/
alembic/versions/*.pyc

# Logs y caches
*.log
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# Distribución / build
build/
dist/
*.egg-info/
pip-wheel-metadata/